<img src="http://www.chevyparts.net/images/aveo.gif" height="100" width="100" alt="{{car.year}} {{car.make.name}} {{car.model.name}}">
<div>
	{{car.year}}
	{{car.make.name}}
	{{car.model.name}}
</div>